---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const notebooks = await getCollection('notebooks');
  return notebooks.map(notebook => ({
    params: { slug: notebook.slug }, props: { notebook },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { notebook } = Astro.props;
const { Content } = await notebook.render();
---
<h1>{notebook.data.title}</h1>
<Content />


<Layout title="Welcome to Astro.">
  test
</Layout>