/* override Bootstrap vars and add specific vars */
:root {
  --impresso-color-paper: #fafbf2;
  --impresso-color-yellow-code: 255, 235, 120;
  --impresso-color-yellow: #ffeb78;
  --impresso-color-black-rgb: 52, 58, 64;
  --impresso-color-black: rgb(var(--impresso-color-black-rgb));
  --impresso-color-black-rgb: 52, 58, 64;
  --impresso-color-black-alpha-20: rgba(52, 58, 64, 0.2);
  --impresso-color-purple: #8a5de8;
  /* // paper transparency */
  --impresso-color-paper-rgb: 250, 251, 242;
  --impresso-color-paper-rgba-90: rgba(250, 251, 242, 0.9);
  --impresso-color-paper-rgba-50: rgba(250, 251, 242, 0.5);
  --impresso-color-paper-rgba-25: rgba(250, 251, 242, 0.25);
  /* // yellow transparency */
  --impresso-color-yellow-rgb: 255, 235, 120;
  --impresso-color-yellow-rgba-50: rgba(255, 235, 120, 0.5);
  --impresso-color-yellow-rgba-25: rgba(255, 235, 120, 0.25);
  /* black transparecy  */
  --impresso-color-black-rgba-50: rgba(52, 58, 64, 0.5);
  --impresso-color-black-rgba-25: rgba(52, 58, 64, 0.25);
  --impresso-color-success: #28a745;
  --impresso-border-radius-xs: 5px;
  --impresso-border-radius-sm: 20px;
  --impresso-border-radius-md: 10px;
  --impresso-border-radius-lg: 30px;
  --impresso-border-radius-xl: 40px;

  /* Card additional colors */
  --impresso-card-purple-icon: #8a5de8;
  --impresso-card-orange-icon: #f2994a;

  --error-rgb: 242, 153, 74;
  --warning-rgb: 255, 182, 114;
  /* Bootstrap overrides */
  --bs-border-color: #9e9c99;
  --bs-border-radius-lg: var(--impresso-border-radius-lg);
  --bs-font-sans-serif: "Satoshi-Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-sans-serif-italic: "Satoshi-VariableItalic", -apple-system,
    BlinkMacSystemFont, sans-serif;
  --bs-light: #fefefe;
  --bs-link-color-rgb: var(--impresso-color-black-rgb);
  --bs-link-hover-color-rgb: var(--impresso-color-black-rgb);

  /* Colors */

  --bs-light: var(--impresso-color-paper);
  --bs-primary: #ffe587;
  --bs-primary-rgb: 255, 229, 135;
  --secondary-rgb: 138, 93, 232;
  --secondary: rgb(var(--secondary-rgb));
  --tertiary: #e85da0;
  --black: #353133;

  --background-red-code: 255, 182, 114;
  --background-red: rgb(--background-red-code: 255, 182, 114);
  --background-purple-code: 247, 171, 255;
  --background-purple: rgb(--background-purple-code: 247, 171, 2554);

  /* SIZES */
  --fs2px: 0.125rem;
  --fs4px: 0.25rem;
  --fs6px: 0.325rem;
  --fs8px: 0.5rem;
  --fs10px: 0.625rem;
  --fs12px: 0.75rem;
  --fs14px: 0.875rem;
  --fs16px: 1rem;
  --fs18px: 1.125rem;
  --fs24px: 1.5rem;
  --fs28px: 1.75rem;
  --fs32px: 2rem;
  --fs40px: 2.5rem;
  --fs48px: 3rem;
  --fs56px: 3.5rem;
  --fs64px: 4rem;
  --fs72px: 4.5rem;
  --fs80px: 5rem;
  --bs-border-radius: 0.25rem;
  /* FONT SIZES */
  --font-size-h1: var(--fs80px);
  --font-size-h2: var(--fs24px);
  --font-size-h3: var(--fs18px);
  --font-size-h5: var(--fs18px);
  --font-small: var(--fs12px);

  /* small caps & Variable font settings*/
  --impresso-font-size-smallcaps: 0.72em;
  --impresso-letter-spacing-smallcaps: 0.08em;
  --impresso-font-size-smallcaps-lg: 0.86em;
  --impresso-letter-spacing-smallcaps-lg: 0.085em;

  --impresso-wght-normal: 450;
  --impresso-wght-smallcaps: 580;
  --impresso-wght-smallcaps-lg: 650;
  --impresso-wght-bold: 650;
  --impresso-wght-medium: 550;
  --impresso-wght-bolder: 750;
  --impresso-wght-extrabold: 900;
  --impresso-font-size-sm: var(--fs12px);
  /* FONT WEIGHT */
  --font-weight-bold: var(--impresso-wght-bold);

  /* EASING */
  --backInOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --backOut: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --backIn: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

  --z-index-header: 10;
  --spacer-1: 0.25rem;
  --spacer-1-2: 0.3rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacing-3: 1rem;
  --spacer-3-4: 1.25rem;
  --spacer-4: 1.5rem;
  --spacer-5: 3rem;
  --negative-spacer-1: -0.25rem;
  --negative-spacer-2: -0.5rem;
  --negative-spacer-3: -1rem;
  --negative-spacer-3-4: -1.25rem;
  --negative-spacer-4: -1.5rem;
  --negative-spacer-5: -3rem;
  /* SHADOWS */
  --shadow-xs: rgba(52, 58, 64, 0.1) 0px 10px 15px -3px,
    rgba(52, 58, 64, 0.05) 0px 4px 6px -2px;

  --shadow-sm: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  --shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);

  --impresso-transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif) !important;
  color: var(--black);
  background-color: var(--bs-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em,
.font-style-italic {
  font-style: normal;
  font-family: "Satoshi-VariableItalic";
}

b {
  font-weight: var(--impresso-wght-bold);
  /* variable font weight */
  font-variation-settings: "wght" var(--impresso-wght-bold);
}

hr {
  border-bottom: 2px solid var(--impresso-color-black);
  margin-bottom: 2rem;
}

/* restyle bootstrap button */
button {
  display: flex !important;
  align-items: center;
}

button svg {
  margin-left: -0.2rem;
}
.btn {
  font-weight: var(--impresso-wght-bold);
  font-variation-settings: "wght" var(--impresso-wght-bold);

  font-size: var(--impresso-font-size-smallcaps);
  text-transform: uppercase;
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  line-height: 2em;

  white-space: nowrap;
  --bs-border-radius: var(--impresso-border-radius-sm);
}
.btn.no-smallcaps {
  font-size: inherit;
  text-transform: none;
  font-variant: none;
  letter-spacing: normal;
  font-weight: var(--impresso-wght-medium);
  font-variation-settings: "wght" var(--impresso-wght-medium);
}
.btn-primary {
  --bs-btn-color: var(--impresso-color-black);
  --bs-btn-bg: var(--impresso-color-yellow);
  --bs-btn-border-color: var(--impresso-color-black);
  --bs-btn-hover-color: var(--impresso-color-black);
  --bs-btn-hover-bg: var(--impresso-color-yellow);
  --bs-btn-hover-border-color: var(--impresso-color-black);
  --bs-btn-focus-shadow-rgb: 255, 235, 120;
  --bs-btn-active-color: var(--impresso-color-black);
  --bs-btn-active-bg: var(--impresso-color-yellow);
  --bs-btn-active-border-color: var(--impresso-color-black);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--impresso-color-black);
  --bs-btn-disabled-bg: var(--impresso-color-yellow);
  --bs-btn-disabled-border-color: var(--impresso-color-black);
}
.btn.btn-primary {
  border: 2px var(--impresso-color-yellow) solid;
  font-variation-settings: "wght" var(--impresso-wght-extrabold);
}

.btn-primary-outline {
  --bs-btn-bg: transparent;
  --bs-btn-color: var(--impresso-color-yellow);
  border: 2px var(--impresso-color-black) solid !important;
  box-shadow: var(--shadow-xs);
}

.btn-secondary,
.btn-secodary.btn-lg,
.btn-secodary.btn-sm {
  --bs-btn-bg: transparent;
  --bs-btn-color: var(--impresso-color-black);
  border: 2px var(--impresso-color-black-rgba-50) solid !important;
  font-weight: var(--impresso-wght-bolder);
  font-variation-settings: "wght" var(--impresso-wght-bolder);
}

.btn.btn-link {
  border: 0px transparent solid;
  padding: 0;
  --bs-btn-bg: transparent;
  --bs-btn-color: var(--impresso-color-black);
  --bs-btn-hover-color: var(--impresso-color-yellow);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--impresso-color-yellow);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--impresso-color-black);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}
.btn.btn-link:hover {
  border: 0px transparent solid;
  color: inherit;
}
button.btn-secodary:hover {
  background-color: rgba(var(--impresso-color-black-rgb), 0.8);
  color: var(--bs-light);
}

.btn.btn-transparent {
  border: 2px transparent solid;
}

.btn.btn-transparent:hover {
  border: 2px transparent solid;
}

.btn:hover {
  border: 2px var(--impresso-color-black) solid;
}
.btn.btn-outline-secondary:hover {
  border: 1px var(--impresso-color-black) solid;
}

.btn.btn-sm {
  padding: 0rem 0.5rem;
  height: 1.8rem;
  font-size: 0.6em;
  letter-spacing: 1.1px;
  border-radius: 0.9rem;
}
.btn.btn-lg {
  font-size: var(--impresso-font-size-smallcaps-lg);
  letter-spacing: var(--impresso-letter-spacing-smallcaps-lg);
  font-weight: var(--impresso-wght-smallcaps-lg);
  font-variation-settings: "wght" var(--impresso-wght-smallcaps-lg);
}
.link-button {
  background-color: rgba(var(--impresso-color-black-rgb), 0.08);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  transition: background-color 0.25s ease-in-out;
}

.link-button:hover {
  background-color: var(--impresso-color-yellow);
}

.link-button svg {
  width: 18px;
  height: 18px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}
.very-small {
  font-size: var(--impresso-font-size-sm);
}
.small-caps,
.smallcaps {
  text-transform: uppercase;
  font-size: var(--impresso-font-size-smallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  font-weight: var(--impresso-wght-smallcaps);
  font-variation-settings: "wght" var(--impresso-wght-smallcaps);
}
.small-caps-bold {
  text-transform: uppercase;
  font-size: var(--impresso-font-size-smallcaps);
  font-variant: normal;
  letter-spacing: var(--impresso-letter-spacing-smallcaps);
  font-weight: var(--impresso-wght-bold);
  font-variation-settings: "wght" var(--impresso-wght-bold);
}
.font-weight-normal {
  font-weight: var(--impresso-wght-normal);
  font-variation-settings: "wght" var(--impresso-wght-normal);
}
.font-weight-medium {
  font-weight: var(--impresso-wght-medium);
  font-variation-settings: "wght" var(--impresso-wght-medium);
}
.font-weight-bold {
  font-weight: var(--impresso-wght-bold);
  font-variation-settings: "wght" var(--impresso-wght-bold);
}
.font-weight-extrabold {
  font-weight: var(--impresso-wght-extrabold);
  font-variation-settings: "wght" var(--impresso-wght-extrabold);
}
.font-size-inherit {
  font-size: inherit;
}
.border-radius-sm {
  border-radius: var(--impresso-border-radius-sm);
}
.border-radius-md {
  border-radius: var(--impresso-border-radius-xl);
}
.border-radius-lg {
  border-radius: var(--impresso-border-radius-lg);
}
.border-dotted {
  --bs-border-style: dotted;
}
/* colored text */
.text-paper {
  color: var(--impresso-color-paper);
}
/* ... */
h1 {
  font-variation-settings: "wght" var(--impresso-wght-bold);
  text-decoration: underline;
  text-decoration-color: var(--impresso-color-yellow);
  line-height: 65px !important;
}

h2 {
  padding-bottom: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

hr {
  height: 1px;
  color: var(--impresso-color-black);
  opacity: 1;
}

/* codemirror theme refinement */
.cm-editor {
  box-shadow: var(--shadow-lg);
  border-radius: var(--impresso-border-radius-xs);
}

.cm-gutters {
  border-start-start-radius: var(--impresso-border-radius-xs);
  border-end-start-radius: var(--impresso-border-radius-xs);
}

/* form check*/

.form-check {
  border-radius: var(--impresso-border-radius-sm);
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
}
.form-check label {
  padding: var(--spacer-1-2) var(--spacer-3) var(--spacer-2) var(--spacer-1);
}
.form-check.active {
  border-color: var(--impresso-color-black) !important;
}
.form-check .form-check-input {
  cursor: pointer;
  display: block;
  margin-top: 0;
  margin-left: var(--spacer-2);
  margin-right: var(--spacer-1);
}
/* Modal override settings */

.modal-backdrop {
  --bs-backdrop-bg: var(--impresso-color-paper);
  --bs-backdrop-opacity: 0.8;
}
.modal {
  --bs-modal-bg: var(--impresso-color-paper);
  --bs-modal-border-color: var(--impresso-color-black);
  --bs-modal-border-width: 0px;
  --bs-modal-border-radius: var(--impresso-border-radius-sm);
  --bs-modal-footer-border-width: 0px;
  --bs-modal-header-border-width: 0px;
  --bs-modal-padding: var(--spacer-2);
}

.modal-content {
  box-shadow: var(--shadow-lg);
}

.modal h1 {
  line-height: 1.25 !important;
  text-decoration: none;
}
.modal h2 {
  font-size: inherit;
  padding-bottom: 0;
}
.modal-header {
  padding: 0 0 var(--spacer-3) 0;
  border-bottom: 1px solid var(--impresso-color-black-rgba-25);
  margin: var(--spacer-3) var(--spacer-4) 0 var(--spacer-3);
  font-variation-settings: "wght" var(--impresso-wght-bold);
}

.modal-header > button.btn-close {
  position: absolute;
  z-index: 11;
  right: var(--spacer-4);
  top: var(--spacer-3-5);
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl,
  .modal-xxl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1024px) {
  .modal-md-lg {
    --bs-modal-width: 700px;
  }
  .modal-lg,
  .modal-xl,
  .modal-xxl {
    --bs-modal-width: 1000px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1600px) {
  .modal-xxl {
    --bs-modal-width: calc(100% - 50px) !important;
  }
  .modal-xxl .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .modal-xxl {
    --bs-modal-width: 1550px !important;
  }
  .modal-xxl .container {
    max-width: 100%;
  }
}

/* form inside modals*/
.modal .form-group label,
.form-label {
  margin-bottom: var(--spacer-2);
  font-variation-settings: "wght" var(--impresso-wght-bold);
  font-size: smaller;
}
.modal .form-group {
  margin-bottom: var(--spacer-2);
}
.modal {
  --bs-white-rgb: var(--impresso-color-paper-rgb);
}
/* add pl-* and pr-* even they're depreceted are still used */
.pl-0 {
  padding-left: 0 !important;
}
.pl-1 {
  padding-left: var(--spacer-1) !important;
}
.pl-2 {
  padding-left: var(--spacer-2) !important;
}
.pl-3 {
  padding-left: var(--spacer-3) !important;
}
.pl-4 {
  padding-left: var(--spacer-4) !important;
}
.pl-5 {
  padding-left: var(--spacer-5) !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pr-1 {
  padding-right: var(--spacer-1) !important;
}
.pr-2 {
  padding-right: var(--spacer-2) !important;
}
.pr-3 {
  padding-right: var(--spacer-3) !important;
}
.pr-4 {
  padding-right: var(--spacer-4) !important;
}
.pr-5 {
  padding-right: var(--spacer-5) !important;
}
.ml-0 {
  padding-left: 0 !important;
}
.ml-1 {
  padding-left: var(--spacer-1) !important;
}
.ml-2 {
  padding-left: var(--spacer-2) !important;
}
.ml-3 {
  padding-left: var(--spacer-3) !important;
}
.ml-4 {
  padding-left: var(--spacer-4) !important;
}
.ml-5 {
  padding-left: var(--spacer-5) !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-1 {
  margin-right: var(--spacer-1) !important;
}
.mr-2 {
  margin-right: var(--spacer-2) !important;
}
.mr-3 {
  margin-right: var(--spacer-3) !important;
}
.mr-4 {
  margin-right: var(--spacer-4) !important;
}
.mr-5 {
  margin-right: var(--spacer-5) !important;
}
.rounded-sm {
  border-radius: 3px;
}
.rounded-md {
  border-radius: 10px;
}
/* Shadows */
.shadow-xs {
  box-shadow: var(--shadow-xs);
}
.shadow-sm {
  box-shadow: var(--shadow-sm);
}
.shadow {
  box-shadow: var(--shadow);
}
.shadow-lg {
  box-shadow: var(--shadow-lg);
}
.shadow-xl {
  box-shadow: var(--shadow-lg);
}
/* Dropdown menu*/
.dropdown-menu {
  --bs-dropdown-bg: var(--impresso-color-black);
  --bs-dropdown-border-color: var(--impresso-color-paper);
  --bs-dropdown-border-width: 0px;
  --bs-dropdown-border-radius: var(--impresso-border-radius-xs);
  --bs-dropdown-padding: var(--spacer-2);
  --bs-dropdown-margin: 0;
  --bs-dropdown-shadow: var(--shadow-lg);
  --bs-dropdown-text-color: var(--impresso-color-paper);
  --bs-link-color-rgb: var(--impresso-color-paper-rgb);
  --bs-link-hover-color-rgb: var(--impresso-color-yellow-rgb);
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-hover-color: var(--impresso-color-yellow);
  --bs-dropdown-spacer: 10px;
}
.dropdown-menu a {
  --bs-link-hover-color-rgb: var(--impresso-color-yellow-rgb);
  color: var(--impresso-color-paper);
}

.dropdown .CustomToggle > svg {
  transition: transform 0.3s;
  will-change: transform;

  transform: rotate3d(0, 0, 1, 0);
}
.dropdown.show .CustomToggle > svg {
  transform: rotate3d(0, 0, 1, 180deg);
}
.dropdown-menu.dropdown-menu-end {
  text-align: end;
  --bs-dropdown-min-width: 1rem;
}
a.dropdown-item {
  position: relative;
  display: inline-block;
  width: auto;
}

a.dropdown-item::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0.5rem;
  width: calc(100% - 1rem);
  height: 2px;
  background-color: var(--impresso-color-yellow);
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: left;
}
a.dropdown-item:hover::after {
  transform: scaleX(1);
}

.UserArea a.dropdown-item {
  display: block;
}

.lang-tag-name {
  font-size: var(--fs14px);
  color: rgba(var(--impresso-color-black-rgb), 0.68);
  font-weight: var(--impresso-wght-bold);
  background-color: var(--impresso-color-yellow);
  padding: 0.1rem 0.3rem;
  border-radius: var(--impresso-border-radius-xs);
}

.NotebookCard .lang-tag-name {
  position: absolute;
  scale: 0.8;
  left: -0.5rem;
  top: -0.5rem;
  padding: 0 0.2rem;
}

.LangModelTag {
  display: flex;
  align-items: center;
}

.LangModelTag p {
  font-size: var(--fs14px);
}

.TermsOfUseModal .bg-light {
  --bs-light-rgb: var(--impresso-color-paper-rgb);
  --bs-bg-opacity: 0.9;
}
