/* override Bootstrap vars and add specific vars */
:root {
  --impresso-color-paper: #fafbf2;
  --impresso-color-yellow-code: 255, 235, 120;
  --impresso-color-yellow: #ffeb78;
  --impresso-color-black: #343a40;
  --impresso-color-black-rgb: 52, 58, 64;
  --impresso-border-radius-xs: 5px;
  --impresso-border-radius-sm: 20px;
  --impresso-border-radius-lg: 30px;
  --impresso-border-radius-xl: 40px;

  /* Bootstrap overrides */
  --bs-border-radius-lg: var(--impresso-border-radius-lg);
  --bs-font-sans-serif: "Satoshi-Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-sans-serif-italic: "Satoshi-VariableItalic", -apple-system,
    BlinkMacSystemFont, sans-serif;
  --bs-light: #fefefe;
  --bs-link-color-rgb: var(--impresso-color-black-rgb);
  --bs-link-hover-color-rgb: var(--impresso-color-black-rgb);

  /* Colors */

  --bs-light: var(--impresso-color-paper);
  --bs-primary: #ffe587;
  --secondary: #8a5de8;
  --tertiary: #e85da0;
  --black: #353133;

  --background-red-code: 255, 182, 114;
  --background-red: rgb(--background-red-code: 255, 182, 114);
  --background-purple-code: 247, 171, 255;
  --background-purple: rgb(--background-purple-code: 247, 171, 2554);

  /* SIZES */
  --fs2px: 0.125rem;
  --fs4px: 0.25rem;
  --fs6px: 0.325rem;
  --fs8px: 0.5rem;
  --fs10px: 0.625rem;
  --fs12px: 0.75rem;
  --fs14px: 0.875rem;
  --fs16px: 1rem;
  --fs18px: 1.125rem;
  --fs24px: 1.5rem;
  --fs28px: 1.75rem;
  --fs32px: 2rem;
  --fs40px: 2.5rem;
  --fs48px: 3rem;
  --fs56px: 3.5rem;
  --fs64px: 4rem;
  --fs72px: 4.5rem;
  --fs80px: 5rem;
  --bs-border-radius: 0.25rem;
  /* FONT SIZES */
  --font-size-h1: var(--fs80px);
  --font-size-h2: var(--fs40px);
  --font-size-h5: var(--fs18px);
  --font-small: var(--fs12px);

  /* EASING */
  --backInOut: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --backOut: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --backIn: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

  --z-index-header: 10;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 3rem;

  /* SHADOWS */
  --shadow-sm: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  --shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif) !important;
  color: var(--black);
  background: var(--bs-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em {
  font-style: normal;
  font-family: "Satoshi-VariableItalic";
}

b {
  font-weight: 600;
  /* variable font weight */
  font-variation-settings: "wght" 600;
}

.btn {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1.3px;
  font-variation-settings: "wght" 600;
  padding-left: 15px;
  padding-right: 15px;

  --bs-border-radius: 20px;
}

hr {
  border-bottom: 2px solid var(--impresso-color-black);
  margin-bottom: 2rem;
}

.btn-primary {
  --bs-btn-color: var(--impresso-color-black);
  --bs-btn-bg: var(--impresso-color-yellow);
  --bs-btn-border-color: var(--impresso-color-yellow);
  --bs-btn-hover-color: var(--impresso-color-black);
  --bs-btn-hover-bg: var(--impresso-color-yellow);
  --bs-btn-hover-border-color: var(--impresso-color-black);
  --bs-btn-focus-shadow-rgb: 255, 235, 120;
  --bs-btn-active-color: var(--impresso-color-black);
  --bs-btn-active-bg: var(--impresso-color-yellow);
  --bs-btn-active-border-color: var(--impresso-color-black);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--impresso-color-black);
  --bs-btn-disabled-bg: var(--impresso-color-yellow);
  --bs-btn-disabled-border-color: var(--impresso-color-black);
}
/* restyle bootstrap button */
button {
  display: flex !important;
  align-items: center;
}

button svg {
  margin-left: -0.2rem;
}
.btn.btn-primary {
  border: 2px var(--impresso-color-yellow) solid;
}

.btn.btn-secondary {
  --bs-btn-bg: transparent;
  --bs-btn-color: var(--impresso-color-black);
  border: 2px var(--impresso-color-black) solid;
}

.btn.btn-transparent {
  border: 2px transparent solid;
}

.btn.btn-transparent:hover {
  border: 2px transparent solid;
}

.btn:hover {
  border: 2px var(--impresso-color-black) solid;
}

.btn.btn-sm {
  padding: 0rem 0.5rem;
  height: 1.8rem;
  font-size: 0.6em;
  letter-spacing: 1.1px;
  border-radius: 0.9rem;
}

.link-button {
  background-color: rgba(var(--impresso-color-black-rgb), 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  transition: background-color 0.25s ease-in-out;
}

.link-button:hover {
  background-color: var(--impresso-color-yellow);
}

.link-button svg {
  width: 18px;
  height: 18px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

/* .container-fluid {
  max-width: 1600px;
} */

.modal-backdrop {
  --bs-backdrop-bg: var(--impresso-color-paper);
}
.modal {
  --bs-modal-border-color: var(--impresso-color-black);
  --bs-modal-border-width: 0px;
  --bs-modal-border-radius: var(--impresso-border-radius-sm);
  --bs-modal-footer-border-width: 0px;
  --bs-modal-header-border-width: 0px;
}

.modal-content {
  box-shadow: var(--shadow-lg);
}

/* ... */
h1 {
  font-weight: 600 !important;
  text-decoration: underline;
  text-decoration-color: var(--impresso-color-yellow);
  line-height: 65px !important;
}

h2 {
  /* border-bottom: 1px solid var(--impresso-color-black); */
  padding-bottom: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

hr {
  height: 1px;
  color: var(--impresso-color-black);
  opacity: 1;
}

/* codemirror theme refinement */
.cm-editor {
  box-shadow: var(--shadow-lg);
  border-radius: var(--impresso-border-radius-xs);
}

.cm-gutters {
  border-start-start-radius: var(--impresso-border-radius-xs);
  border-end-start-radius: var(--impresso-border-radius-xs);
}

@media (min-width: 1024px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 1000px !important;
  }
}
