.Alert {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(var(--secondary-rgb), 0.2);
  border-radius: var(--impresso-border-radius-sm);
}

.Alert svg {
  flex-shrink: 0;
}

.Alert svg path {
  stroke: var(--secondary);
}
