:root {
  --circle-size: 100%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.Background.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.Background.gradient-bg > svg {
  display: none;
}

.Background .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.Background .g1 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--impresso-color-yellow-code), 0.4) 0,
      rgba(var(--impresso-color-yellow-code), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  will-change: transform;
  transform-origin: center center;
  animation: moveVertical 80s ease infinite;

  opacity: 1;
}

.Background .g2 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--background-red-code), 0.3) 0,
      rgba(var(--background-red-code), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  will-change: transform;
  animation: moveInCircle 100s reverse infinite;

  opacity: 1;
}

.Background .g3 {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--background-purple-code), 0.4) 0,
      rgba(var(--background-purple-code), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 - 200px);
  left: calc(50% - var(--circle-size) / 2 + 500px);

  will-change: transform;
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 120s linear infinite;

  opacity: 1;
}

.Background .interactive {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  background: radial-gradient(
      circle at center,
      rgba(var(--background-red-code), 0.4) 0,
      rgba(var(--background-red-code), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  will-change: transform;
  width: 100%;
  height: 100%;
  opacity: 1;
}
