.Badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  font-weight: 700;
}

.Badge span {
  font-size: 0.8rem;
  text-transform: uppercase;
}
