.code-wrapper {
  position: relative;
}

.cm-editor {
  padding-bottom: 3rem;
}

.code-wrapper button.copy-code {
  position: absolute;
  right: 0;
  top: 1px;
  background: transparent;
  border: 0 none;
  color: var(--impresso-color-yellow);
}

.code-wrapper .btn {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}
