.Header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);
  background-color: transparent;
  /* var(--bs-light); */
}

.Search {
  position: absolute;
  top: 12px;
  left: calc(50% - 300px);
}

.Search .input-group input {
  height: 40px;
  min-width: 600px;
  border-radius: 20px !important;
  padding: 0.25rem 0.9rem;
}

@media (max-width: 1400px) {
  .Search {
    position: relative;
    top: auto;
    left: auto;
  }
  .Search .input-group input {
    width: 100%;
    min-width: 300px;
  }
}
