@media (min-width: 576px) {
  .ModalTutorial .modal-dialog {
    max-width: var(--bs-modal-width);
  }
}

@media (min-width: 768px) {
  .ModalTutorial .modal-dialog {
    max-width: var(--bs-modal-lg);
  }
}

.ModalTutorial iframe {
  width: 100% !important;
  height: 100% !important;
}
