.NotebookCard {
  border-radius: var(--impresso-border-radius-sm);
  background: white;
}

.NotebookCard h3 {
  font-size: var(--fs18px);
  font-weight: bold;
}

.NotebookCard .date {
  display: flex;
  align-items: center;
}

.NotebookCard .date > svg {
  margin-right: 0.3rem;
}

.NotebookCard .date > span {
  font-size: var(--font-small);
}

.NotebookCard .Avatar {
  align-self: baseline;
}
