.TaskModal .LinkAsCard {
  text-decoration: none;
  box-shadow: none;
  display: inline-block;
  font-weight: normal;
  font-variation-settings: "wght" var(--impresso-wght-medium);
}
.TaskModal .LinkAsCard span.badge {
  color: inherit;
  background-color: transparent;
  border: 1px solid;
  opacity: 0.75;
  text-decoration: none;
}
