.Token {
  width: 100%;
}

.Token textarea {
  width: 100%;
  padding: 0;
  background: transparent;
  border: 0px solid transparent;
  font-variation-settings: "wght" var(--impresso-wght-medium);
}

.Token button {
  background: var(--impresso-color-yellow);
  color: var(--impresso-color-black);
  border: 0px solid transparent;
  border-radius: var(--impresso-border-radius-sm);
  padding: var(--spacer-2);
}

.Token textarea:focus {
  outline: none;
}

.Token__display {
  background: var(--impresso-color-yellow-rgba-25);
  border-radius: var(--impresso-border-radius-sm);
}

.Token__display__helpText {
  font-variation-settings: "wght" var(--impresso-wght-bold);
  color: var(--impresso-color-success);
}
