.Token {
  display: flex;
  flex-direction: column;
}

.Token .token-field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacer-3) var(--spacer-4);
  background-color: rgba(var(--impresso-color-black-rgb), 0.1);
  border-radius: var(--impresso-border-radius-xs);
}

.Token .token-field p {
  line-break: anywhere;
  margin: 0;
  flex-grow: 1;
  font-weight: var(--font-weight-bold);
}

.Token span {
  font-size: var(--font-small);
}

.Token svg path {
  stroke: var(--impresso-color-black);
}

.Token button {
  margin-right: -1rem;
  position: relative !important;
}
