
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../public/fonts/Satoshi-Variable.woff") format("woff"),
    url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../public/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../public/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../public/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
