---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { QueryClient, QueryClientProvider } from "@tanstack/react-query"
import Footer from '../components/Footer';
import Header from '../components/Header';
import Background from '../components/Background';

import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/fonts.css';
import '../styles/global.css';

// Create a client
const queryClient = new QueryClient({
  defaultOptions: {
    queries: {
      refetchOnWindowFocus: false,
      retry: false,
      // Add a timeout of 10 seconds
      staleTime: 10000,
    },
  },
})

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<QueryClientProvider client={queryClient}>
			<Header client:only="react" />
			<slot />
			<Footer></Footer>
			<Background client:only="react" ></Background> 
		</QueryClientProvider>
	</body>
</html>

